<div class="jumbotron">
  <h1 class="text-center">Welcome to <strong id="nameWebsite">StigmergicModeling</strong> !</h1>
  <p class="text-center">Used for collaborative groups to create a conceptual model</p>
  <p class="text-center">Based on UML 2.0 class diagram specifications and stigmergy theory</p>
  <br />
  <br />
  <p class="text-center">
    <a class="btn btn-lg btn-success" href="/reg" role="button">Sign up</a>
    <a class="btn btn-lg btn-default" href="/login" role="button">Sign in</a>
  </p>
</div>