<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button> -->

<!-- Modal -->

<!-- 添加 Class -->
<div class="modal fade" id="stigmod-modal-addclass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="myModalLabel">Add a new 'CLASS'</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-3">
            <div class="stigmod-modal-input-text-left">name</div>
          </div>
          <div class="col-xs-6">
            <input type="text" class="stigmod-modal-input" />
          </div>
          <div class="col-xs-3">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="text-center">
          <button type="button" class="btn btn-primary stigmod-btn-modal-bottom">Add</button>
          <button type="button" class="btn btn-default stigmod-btn-modal-bottom" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 添加 Relation Group -->
<div class="modal fade" id="stigmod-modal-addrelationgroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="myModalLabel">Add a new 'RELATION GROUP'</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-3">
            <div class="stigmod-modal-input-text-left">Class 1</div>
          </div>
          <div class="col-xs-6">
            <input type="text" class="stigmod-modal-input" />
          </div>
          <div class="col-xs-3">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <div class="stigmod-modal-input-text-left">Class 2</div>
          </div>
          <div class="col-xs-6">
            <input type="text" class="stigmod-modal-input" />
          </div>
          <div class="col-xs-3">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="text-center">
          <button type="button" class="btn btn-primary stigmod-btn-modal-bottom">Add</button>
          <button type="button" class="btn btn-default stigmod-btn-modal-bottom" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 添加 Attribute -->
<div class="modal fade" id="stigmod-modal-addattribute" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="myModalLabel">Add a new 'ATTRIBUTE'</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-3">
            <div class="stigmod-modal-input-text-left">name</div>
          </div>
          <div class="col-xs-6">
            <input type="text" class="stigmod-modal-input" />
          </div>
          <div class="col-xs-3">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="text-center">
          <button type="button" class="btn btn-primary stigmod-btn-modal-bottom">Add</button>
          <button type="button" class="btn btn-default stigmod-btn-modal-bottom" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 添加 Relation -->
<div class="modal fade" id="stigmod-modal-addrelation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="myModalLabel">Add a new 'RELATION'</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-3">
            <div class="stigmod-modal-input-text-left">name</div>
          </div>
          <div class="col-xs-6">
            <input type="text" class="stigmod-modal-input" />
          </div>
          <div class="col-xs-3">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="text-center">
          <button type="button" class="btn btn-primary stigmod-btn-modal-bottom">Add</button>
          <button type="button" class="btn btn-default stigmod-btn-modal-bottom" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 添加 Class (纯演示用) -->
<div class="modal fade" id="stigmod-modal-addclass-disp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="myModalLabel">Add a new 'CLASS'</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-3">
            <div class="stigmod-modal-input-text-left">name</div>
          </div>
          <div class="col-xs-6">
            <input type="text" class="stigmod-modal-input" value="Course" />
          </div>
          <div class="col-xs-3">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="text-center">
          <button type="button" class="btn btn-primary stigmod-btn-modal-bottom">Add</button>
          <button type="button" class="btn btn-default stigmod-btn-modal-bottom" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- model可视化组件 -->
<div class="modal fade" id="stigmod-modal-d3view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="myModalLabel">Model View</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6" id="stigmod-d3view-left">
            <br></br>
            <h3 style="text-align:center;font-weight:bold">ClassDiagram</h3>
          </div>
          <div class="col-xs-4" id="stigmod-d3view-right">
            <br></br>
            <h3 style="text-align:center;font-weight:bold">ClassDetails</h3>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="text-center">
          <button type="button" class="btn btn-default stigmod-btn-modal-bottom" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
