<div class="row">
  <div class="col-xs-12">
    <h4>Collective concept models in <span class="nameWebsite">StigMod</span></h4>
    <hr />
    <div class="row" id="searchBarPUser">
      <div class="col-xs-12">
        <form class="form-inline" role="form">
          <div class="form-group" id="searchBarFormPSearch">
            <input type="text" class="form-control" value="course" id="searchBarInputPUser">
          </div>
          <button class="btn btn-default">Search</button>
        </form>
      </div>
    </div>
    <hr />
    <!-- Project 显示组件 -->
    <div class="projShowPUser">
      <div class="row">
        <div class="col-xs-9 projShowTitlePUser">
          <a href="template_project_ft"><span class="highlight">Course</span>ManagementSystem</a>
        </div>
        <div class="col-xs-3 projShowInfoPUser">
          <span class="glyphicon glyphicon-user"></span>
          <span>2611</span> &nbsp;&nbsp;
          <span class="glyphicon glyphicon-th-large"></span>
          <span>229</span> &nbsp;&nbsp;
          <span class="glyphicon glyphicon-random"></span>
          <span>193</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9">
          The <span class="highlight">course</span> management system helps teachers to post <span class="highlight">course</span> infomation and helps students to choose the courses.
        </div>
        <div class="col-xs-3">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 projShowDatePUser">
          Updated 7 days ago
        </div>
      </div>
      <hr />
    </div>
    <!-- Project 显示组件 -->
    <div class="projShowPUser">
      <div class="row">
        <div class="col-xs-9 projShowTitlePUser">
          <a href="template_project_ft"><span class="highlight">Course</span>ManagementSystem</a>
        </div>
        <div class="col-xs-3 projShowInfoPUser">
          <span class="glyphicon glyphicon-user"></span>
          <span>2611</span> &nbsp;&nbsp;
          <span class="glyphicon glyphicon-th-large"></span>
          <span>229</span> &nbsp;&nbsp;
          <span class="glyphicon glyphicon-random"></span>
          <span>193</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9">
          The <span class="highlight">course</span> management system helps teachers to post <span class="highlight">course</span> infomation and helps students to choose the courses.
        </div>
        <div class="col-xs-3">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 projShowDatePUser">
          Updated 7 days ago
        </div>
      </div>
      <hr />
    </div>
    <!-- Project 显示组件 -->
    <div class="projShowPUser">
      <div class="row">
        <div class="col-xs-9 projShowTitlePUser">
          <a href="template_project_ft"><span class="highlight">Course</span>ManagementSystem</a>
        </div>
        <div class="col-xs-3 projShowInfoPUser">
          <span class="glyphicon glyphicon-user"></span>
          <span>2611</span> &nbsp;&nbsp;
          <span class="glyphicon glyphicon-th-large"></span>
          <span>229</span> &nbsp;&nbsp;
          <span class="glyphicon glyphicon-random"></span>
          <span>193</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9">
          The <span class="highlight">course</span> management system helps teachers to post <span class="highlight">course</span> infomation and helps students to choose the courses.
        </div>
        <div class="col-xs-3">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 projShowDatePUser">
          Updated 7 days ago
        </div>
      </div>
      <hr />
    </div>
    <!-- Project 显示组件 -->
    <div class="projShowPUser">
      <div class="row">
        <div class="col-xs-9 projShowTitlePUser">
          <a href="template_project_ft"><span class="highlight">Course</span>ManagementSystem</a>
        </div>
        <div class="col-xs-3 projShowInfoPUser">
          <span class="glyphicon glyphicon-user"></span>
          <span>2611</span> &nbsp;&nbsp;
          <span class="glyphicon glyphicon-th-large"></span>
          <span>229</span> &nbsp;&nbsp;
          <span class="glyphicon glyphicon-random"></span>
          <span>193</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9">
          The <span class="highlight">course</span> management system helps teachers to post <span class="highlight">course</span> infomation and helps students to choose the courses.
        </div>
        <div class="col-xs-3">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 projShowDatePUser">
          Updated 7 days ago
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
