

<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-12">
    <h4>Model information</h4>
    <hr />
    <!-- 标签栏 -->
    <div class="row">
      <div class="col-xs-12">
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li role="presentation"><a href="#"><span class="fa fa-user"></span>&nbsp;&nbsp;Click here to create your Individual Concept Model</a></li>
          <li role="presentation" class="active"><a href="#"><span class="fa fa-users"></span>&nbsp;&nbsp;Collective Concept Model</a></li>
        </ul>
      </div>
    </div>
    <!--正文-->
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-striped" id="tableProjInfo">
          <tbody>
            <tr class="titleTr">
              <td>Name</td>
            </tr>
            <tr>
              <td class="contentTr">CourseManagementSystem</td>
            </tr>
            <tr class="titleTr">
              <td>Description</td>
            </tr>
            <tr>
              <td>The course management system helps teachers to post course infomation and helps students to choose the courses. </td>
            </tr>
            <tr class="titleTr">
              <td>Creation Time</td>
            </tr>
            <tr>
              <td>2014-4-6</td>
            </tr>
            <tr class="titleTr">
              <td>Update Time</td>
            </tr>
            <tr>
              <td>2014-11-24</td>
            </tr>
            <tr class="titleTr">
              <td>Version</td>
            </tr>
            <tr>
              <td>6.2.9</td>
            </tr>
            <tr class="titleTr">
              <td>Number of Classes</td>
            </tr>
            <tr>
              <td>191</td>
            </tr>
            <tr class="titleTr">
              <td>Number of Relations</td>
            </tr>
            <tr>
              <td>208</td>
            </tr>
            <tr class="titleTr">
              <td>Number of Participated People</td>
            </tr>
            <tr>
              <td>2133</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xs-2">
  </div>
</div>

