<div id="stigmod-pg-workspace">
  <!-- 顶部项目名称栏 -->
  <div class="row">
    <div class="col-xs-8">
      <h1 id="stigmod-model-title">
        <span class="fa fa-cube" id="stigmod-model-title-icon"></span>
        <a href="template_user"><span id="stigmod-model-title-username"> <%= user.name %></span></a>
        <span> / </span>
        <span class="dropdown">
          <span class="dropdown-toggle stigmod-a-pseudo" type="button" id="interProjJump" data-toggle="dropdown">
            CourseManagementSystem
          </span>
          <ul class="dropdown-menu" role="menu" aria-labelledby="interProjJump">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CDStore</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">TrainTicketingSystem</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">TimeRelatedConcepts</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ElectiveSys</a></li>
          </ul>
        </span>
      </h1>
    </div>
    <div class="col-xs-4">
      <span class="pull-right" id="stigmod-model-info">
        <a href="template_model" class="stigmod-a-nounderline">
          <span class="glyphicon glyphicon-stats"></span>&nbsp;
          Model Info
        </a>
      </span>
    </div>
  </div>
  <hr />
  <!-- 项目名称栏以下 -->
  <div class="row" id="stigmod-workspace">
    <!-- 左侧导航栏 -->
    <div class="col-xs-3" id="stigmod-nav-left">
      <!--div class="panel panel-default"-->
        <div class="list-group">
          <!-- 搜索栏 -->
          <div class="list-group-item">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="btn-search"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
          </div>
          <!-- 竖排导航栏（分为Class、Relation两个panel） -->
          <div class="list-group-item" id="stigmod-nav-left-scroll">
            <div class="panel panel-default">
              <div class="panel-heading stigmod-hovershow-trig">
                <h3 class="panel-title">
                  <span class="glyphicon glyphicon-th-large stigmod-classname-icon"></span>
                  <span class="stigmod-classname-title">CLASS</span>
                  <a href="#" class="stigmod-hovershow-cont"><span class="glyphicon glyphicon-plus-sign pull-right" data-toggle="tooltip" data-placement="left" data-original-title="Add a new class"></span></a>
                </h3>
              </div>
              <div class="list-group">
                <a href="template_workspace" class="list-group-item">Course<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">CourseActivity<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">CourseAvailability<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">Date<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">Course<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">CourseActivity<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">CourseAvailability<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">Date<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">Course<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">CourseActivity<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">CourseAvailability<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">Date<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
              </div>
            </div>
            <!--hr class="stigmod-hr-narrow" /-->
            <div class="panel panel-default">
              <div class="panel-heading stigmod-hovershow-trig">
                <h3 class="panel-title">
                  <span class="glyphicon glyphicon-random stigmod-classname-icon"></span>
                  <span class="stigmod-classname-title">RELATION GROUP</span>
                  <a href="#" class="stigmod-hovershow-cont"><span class="glyphicon glyphicon-plus-sign pull-right" data-toggle="tooltip" data-placement="left" data-original-title="Add a new relation"></span></a>
                </h3>
              </div>
              <div class="list-group">
                <a href="#" class="list-group-item active">Course-CourseActivity<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">Date-SchoolCalender<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">Course-CourseActivity<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">Date-SchoolCalender<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">Course-CourseActivity<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">Date-SchoolCalender<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">Course-CourseActivity<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">Date-SchoolCalender<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
              </div>
            </div>
          </div>
        </div>
      <!--/div-->
    </div>
    <!-- 右侧内容栏 -->
    <div class="col-xs-6">
      <!-- 类、名称 -->
      <div class="list-group">
        <div class="list-group-item" id="stigmod-cont-right-scroll">
          <div class="row stigmod-clickedit-root">
            <div class="col-xs-8" id="stigmod-classname">
              <span class="stigmod-keepinline">
                <span class="glyphicon glyphicon-random" id="stigmod-classname-icon"></span>
                <span id="stigmod-classname-title"> RELATION GROUP</span>
                <span> |&nbsp;</span>
              </span>
              <span class="stigmod-clickedit-text">Course-CourseActivity</span>
            </div>
            <div class="col-xs-4">
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#stigmod-modal-addrelation">
                  <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="left" data-original-title="Add a new relation"></span>
                </button>
                <button type="button" class="btn btn-default stigmod-clickedit-btn-edit" disabled>
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog" data-toggle="tooltip" data-placement="left" data-original-title="Configurations"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#">Delete this relation group</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <hr class="stigmod-hr-narrow"/>
          <div id="stigmod-cont-right">
            <!-- 属性 -->
            <div class="panel-heading">
              <p id="stigmod-rel-title"><span class="fa fa-book"></span>&nbsp; RELATION</p>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading stigmod-hovershow-trig">
                <div class="panel-title">
                  <div class="row">
                    <div class="col-xs-2 stigmod-rel-cont-left-title"><span class="fa fa-bookmark"></span></div>
                    <div class="col-xs-6 stigmod-rel-cont-middle-title stigmod-cursor-pointer" data-toggle="none" data-target="#collapse00">Course [1] ----- [*] CourseActivity</div>
                    <div class="col-xs-4 stigmod-rel-cont-right-title">
                      <div class="stigmod-hovershow-cont">
                        <span data-toggle="dropdown"><span class="fa fa-plus-circle" data-toggle="tooltip" data-placement="top" data-original-title="Add a new property"></span></span>
                        <ul class="dropdown-menu" role="menu">
                          <li class="stigmod-dropdown-type" role="presentation"><a role="menuitem" tabindex="-1" href="#">type</a></li>
                          <li class="stigmod-dropdown-role" role="presentation"><a role="menuitem" tabindex="-1" href="#">role</a></li>
                          <li class="stigmod-dropdown-class" role="presentation"><a role="menuitem" tabindex="-1" href="#">class</a></li>
                          <li class="stigmod-dropdown-multiplicity" role="presentation"><a role="menuitem" tabindex="-1" href="#">multiplicity</a></li>
                          <li class="stigmod-dropdown-ordering" role="presentation"><a role="menuitem" tabindex="-1" href="#">ordering</a></li>
                          <li class="stigmod-dropdown-uniqueness" role="presentation"><a role="menuitem" tabindex="-1" href="#">uniqueness</a></li>
                          <li class="stigmod-dropdown-readOnly" role="presentation"><a role="menuitem" tabindex="-1" href="#">readOnly</a></li>
                          <li class="stigmod-dropdown-union" role="presentation"><a role="menuitem" tabindex="-1" href="#">union</a></li>
                          <li class="stigmod-dropdown-subsets" role="presentation"><a role="menuitem" tabindex="-1" href="#">subsets</a></li>
                          <li class="stigmod-dropdown-redefines" role="presentation"><a role="menuitem" tabindex="-1" href="#">redefines</a></li>
                          <li class="stigmod-dropdown-composite" role="presentation"><a role="menuitem" tabindex="-1" href="#">composite</a></li>
                        </ul>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <span><span class="fa fa-remove" data-toggle="tooltip" data-placement="top" data-original-title="Delete this relation"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="collapse00" class="panel-collapse collapse">
                <table class="table stigmod-table-relation">
                  <tbody>
                    <tr class="stigmod-clickedit-root stigmod-hovershow-trig stigmod-rel-prop-type" stigmod-clickedit-case="reltype">
                      <td class="stigmod-attr-cont-left">type</td>
                      <td>
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <div class="dropdown" id="stigmod-dropdown-reltype">
                            <button class="btn btn-default" type="button" data-toggle="dropdown"></button>
                            <ul class="dropdown-menu" role="menu">
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="">Generalization</a></li>
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="">Composition</a></li>
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="">Aggregation</a></li>
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="">Association</a></li>
                            </ul>
                          </div>
                        </span>
                      </td>
                      <td>
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <input type="text" class="stigmod-input" value="" placeholder="name">
                        </span>
                      </td>
                      <td>
                        <span class="stigmod-clickedit-disp">
                          <div class="stigmod-hovershow-cont">
                            <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                            <span class="glyphicon glyphicon-trash"></span>
                          </div>
                        </span>
                        <span class="stigmod-clickedit-edit">
                          <span class="btn-group">
                            <button class="btn btn-sm btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-sm btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                          </span>
                        </span>
                      </td>
                    </tr>
                    <tr class="stigmod-clickedit-root stigmod-hovershow-trig stigmod-rel-prop-role" stigmod-clickedit-case="text">
                      <td class="stigmod-attr-cont-left">role</td>
                      <td>
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <input type="text" class="stigmod-input" value="">
                        </span>
                      </td>
                      <td>
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <input type="text" class="stigmod-input" value="">
                        </span>
                      </td>
                      <td>
                        <span class="stigmod-clickedit-disp">
                          <div class="stigmod-hovershow-cont">
                            <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                            <span class="glyphicon glyphicon-trash"></span>
                          </div>
                        </span>
                        <span class="stigmod-clickedit-edit">
                          <span class="btn-group">
                            <button class="btn btn-sm btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-sm btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                          </span>
                        </span>
                      </td>
                    </tr>
                    <tr class="stigmod-clickedit-root stigmod-hovershow-trig stigmod-rel-prop-class" stigmod-clickedit-case="text">
                      <td class="stigmod-attr-cont-left">class</td>
                      <td>
                        <span class="stigmod-clickedit-disp">Course</span>
                        <span class="stigmod-clickedit-edit">
                          <input type="text" class="stigmod-input" value="Course" disabled>
                        </span>
                      </td>
                      <td>
                        <span class="stigmod-clickedit-disp">CourseActivity</span>
                        <span class="stigmod-clickedit-edit">
                          <span class="glyphicon glyphicon-transfer stigmod-cursor-pointer"></span>
                          <input type="text" class="stigmod-input" value="CourseActivity" disabled>
                        </span>
                      </td>
                      <td>
                        <span class="stigmod-clickedit-disp">
                          <div class="stigmod-hovershow-cont">
                            <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                            <span class="glyphicon glyphicon-trash"></span>
                          </div>
                        </span>
                        <span class="stigmod-clickedit-edit">
                          <span class="btn-group">
                            <button class="btn btn-sm btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-sm btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                          </span>
                        </span>
                      </td>
                    </tr>
                    <tr class="stigmod-clickedit-root stigmod-hovershow-trig stigmod-rel-prop-multiplicity" stigmod-clickedit-case="text">
                      <td class="stigmod-attr-cont-left">multiplicity</td>
                      <td>
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <input type="text" class="stigmod-input" value="">
                        </span>
                      </td>
                      <td>
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <input type="text" class="stigmod-input" value="">
                        </span>
                      </td>
                      <td>
                        <span class="stigmod-clickedit-disp">
                          <div class="stigmod-hovershow-cont">
                            <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                            <span class="glyphicon glyphicon-trash"></span>
                          </div>
                        </span>
                        <span class="stigmod-clickedit-edit">
                          <span class="btn-group">
                            <button class="btn btn-sm btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-sm btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                          </span>
                        </span>
                      </td>
                    </tr>
                    <tr class="stigmod-clickedit-root stigmod-hovershow-trig stigmod-rel-prop-ordering" stigmod-clickedit-case="radio">
                      <td class="stigmod-attr-cont-left">ordering</td>
                      <td>
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <span class="radio">&nbsp;&nbsp;
                            <label><input type="radio" name="ordering1" value="True">True</label>&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="ordering1" value="False">False</label>
                          </span>
                        </span>
                      </td>
                      <td>
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <span class="radio">&nbsp;&nbsp;
                            <label><input type="radio" name="ordering2" value="True">True</label>&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="ordering2" value="False">False</label>
                          </span>
                        </span>
                      </td>
                      <td>
                        <span class="stigmod-clickedit-disp">
                          <div class="stigmod-hovershow-cont">
                            <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                            <span class="glyphicon glyphicon-trash"></span>
                          </div>
                        </span>
                        <span class="stigmod-clickedit-edit">
                          <span class="btn-group">
                            <button class="btn btn-sm btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-sm btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                          </span>
                        </span>
                      </td>
                    </tr>
                    <tr class="stigmod-clickedit-root stigmod-hovershow-trig stigmod-rel-prop-uniqueness" stigmod-clickedit-case="radio">
                      <td class="stigmod-attr-cont-left">uniqueness</td>
                      <td>
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <span class="radio">&nbsp;&nbsp;
                            <label><input type="radio" name="uniqueness1" value="True">True</label>&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="uniqueness1" value="False">False</label>
                          </span>
                        </span>
                      </td>
                      <td>
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <span class="radio">&nbsp;&nbsp;
                            <label><input type="radio" name="uniqueness2" value="True">True</label>&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="uniqueness2" value="False">False</label>
                          </span>
                        </span>
                      </td>
                      <td>
                        <span class="stigmod-clickedit-disp">
                          <div class="stigmod-hovershow-cont">
                            <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                            <span class="glyphicon glyphicon-trash"></span>
                          </div>
                        </span>
                        <span class="stigmod-clickedit-edit">
                          <span class="btn-group">
                            <button class="btn btn-sm btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-sm btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                          </span>
                        </span>
                      </td>
                    </tr>
                    <tr class="stigmod-clickedit-root stigmod-hovershow-trig stigmod-rel-prop-readOnly" stigmod-clickedit-case="radio">
                      <td class="stigmod-attr-cont-left">readOnly</td>
                      <td>
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <span class="radio">&nbsp;&nbsp;
                            <label><input type="radio" name="readOnly1" value="True">True</label>&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="readOnly1" value="False">False</label>
                          </span>
                        </span>
                      </td>
                      <td>
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <span class="radio">&nbsp;&nbsp;
                            <label><input type="radio" name="readOnly2" value="True">True</label>&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="readOnly2" value="False">False</label>
                          </span>
                        </span>
                      </td>
                      <td>
                        <span class="stigmod-clickedit-disp">
                          <div class="stigmod-hovershow-cont">
                            <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                            <span class="glyphicon glyphicon-trash"></span>
                          </div>
                        </span>
                        <span class="stigmod-clickedit-edit">
                          <span class="btn-group">
                            <button class="btn btn-sm btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-sm btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                          </span>
                        </span>
                      </td>
                    </tr>
                    <tr class="stigmod-clickedit-root stigmod-hovershow-trig stigmod-rel-prop-union" stigmod-clickedit-case="radio">
                      <td class="stigmod-attr-cont-left">union</td>
                      <td>
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <span class="radio">&nbsp;&nbsp;
                            <label><input type="radio" name="union1" value="True">True</label>&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="union1" value="False">False</label>
                          </span>
                        </span>
                      </td>
                      <td>
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <span class="radio">&nbsp;&nbsp;
                            <label><input type="radio" name="union2" value="True">True</label>&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="union2" value="False">False</label>
                          </span>
                        </span>
                      </td>
                      <td>
                        <span class="stigmod-clickedit-disp">
                          <div class="stigmod-hovershow-cont">
                            <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                            <span class="glyphicon glyphicon-trash"></span>
                          </div>
                        </span>
                        <span class="stigmod-clickedit-edit">
                          <span class="btn-group">
                            <button class="btn btn-sm btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-sm btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                          </span>
                        </span>
                      </td>
                    </tr>
                    <tr class="stigmod-clickedit-root stigmod-hovershow-trig stigmod-rel-prop-subsets" stigmod-clickedit-case="text">
                      <td class="stigmod-attr-cont-left">subsets</td>
                      <td>
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <input type="text" class="stigmod-input" value="">
                        </span>
                      </td>
                      <td>
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <input type="text" class="stigmod-input" value="">
                        </span>
                      </td>
                      <td>
                        <span class="stigmod-clickedit-disp">
                          <div class="stigmod-hovershow-cont">
                            <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                            <span class="glyphicon glyphicon-trash"></span>
                          </div>
                        </span>
                        <span class="stigmod-clickedit-edit">
                          <span class="btn-group">
                            <button class="btn btn-sm btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-sm btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                          </span>
                        </span>
                      </td>
                    </tr>
                    <tr class="stigmod-clickedit-root stigmod-hovershow-trig stigmod-rel-prop-redefines" stigmod-clickedit-case="text">
                      <td class="stigmod-attr-cont-left">redefines</td>
                      <td>
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <input type="text" class="stigmod-input" value="">
                        </span>
                      </td>
                      <td>
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <input type="text" class="stigmod-input" value="">
                        </span>
                      </td>
                      <td>
                        <span class="stigmod-clickedit-disp">
                          <div class="stigmod-hovershow-cont">
                            <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                            <span class="glyphicon glyphicon-trash"></span>
                          </div>
                        </span>
                        <span class="stigmod-clickedit-edit">
                          <span class="btn-group">
                            <button class="btn btn-sm btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-sm btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                          </span>
                        </span>
                      </td>
                    </tr>
                    <tr class="stigmod-clickedit-root stigmod-hovershow-trig stigmod-rel-prop-composite" stigmod-clickedit-case="radio">
                      <td class="stigmod-attr-cont-left">composite</td>
                      <td>
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <span class="radio">&nbsp;&nbsp;
                            <label><input type="radio" name="composite1" value="True">True</label>&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="composite1" value="False">False</label>
                          </span>
                        </span>
                      </td>
                      <td>
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <span class="radio">&nbsp;&nbsp;
                            <label><input type="radio" name="composite2" value="True">True</label>&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="composite2" value="False">False</label>
                          </span>
                        </span>
                      </td>
                      <td>
                        <span class="stigmod-clickedit-disp">
                          <div class="stigmod-hovershow-cont">
                            <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                            <span class="glyphicon glyphicon-trash"></span>
                          </div>
                        </span>
                        <span class="stigmod-clickedit-edit">
                          <span class="btn-group">
                            <button class="btn btn-sm btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-sm btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                          </span>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading stigmod-hovershow-trig">
                <div class="panel-title">
                  <div class="row">
                    <div class="col-xs-2 stigmod-rel-cont-left-title"><span class="fa fa-bookmark"></span></div>
                    <div class="col-xs-6 stigmod-rel-cont-middle-title stigmod-cursor-pointer" data-toggle="none" data-target="#collapse0">Course [1] ----- [*] CourseActivity</div>
                    <div class="col-xs-4 stigmod-rel-cont-right-title">
                      <div class="stigmod-hovershow-cont">
                        <span data-toggle="dropdown"><span class="fa fa-plus-circle" data-toggle="tooltip" data-placement="top" data-original-title="Add a new property"></span></span>
                        <ul class="dropdown-menu" role="menu">
                          <li class="stigmod-dropdown-type" role="presentation"><a role="menuitem" tabindex="-1" href="#">type</a></li>
                          <li class="stigmod-dropdown-multiplicity" role="presentation"><a role="menuitem" tabindex="-1" href="#">multiplicity</a></li>
                          <li class="stigmod-dropdown-visibility" role="presentation"><a role="menuitem" tabindex="-1" href="#">visibility</a></li>
                          <li class="stigmod-dropdown-default" role="presentation"><a role="menuitem" tabindex="-1" href="#">default</a></li>
                          <li class="stigmod-dropdown-constraint" role="presentation"><a role="menuitem" tabindex="-1" href="#">constraint</a></li>
                          <li class="stigmod-dropdown-default" role="presentation"><a role="menuitem" tabindex="-1" href="#">default</a></li>
                          <li class="stigmod-dropdown-constraint" role="presentation"><a role="menuitem" tabindex="-1" href="#">constraint</a></li>
                          <li class="stigmod-dropdown-ordering" role="presentation"><a role="menuitem" tabindex="-1" href="#">ordering</a></li>
                          <li class="stigmod-dropdown-uniqueness" role="presentation"><a role="menuitem" tabindex="-1" href="#">uniqueness</a></li>
                          <li class="stigmod-dropdown-readOnly" role="presentation"><a role="menuitem" tabindex="-1" href="#">readOnly</a></li>
                          <li class="stigmod-dropdown-union" role="presentation"><a role="menuitem" tabindex="-1" href="#">union</a></li>
                          <li class="stigmod-dropdown-subsets" role="presentation"><a role="menuitem" tabindex="-1" href="#">subsets</a></li>
                          <li class="stigmod-dropdown-redefines" role="presentation"><a role="menuitem" tabindex="-1" href="#">redefines</a></li>
                          <li class="stigmod-dropdown-composite" role="presentation"><a role="menuitem" tabindex="-1" href="#">composite</a></li>
                        </ul>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <span data-toggle="modal" data-target="#stigmod-modal-addattribute"><span class="fa fa-chevron-up" data-toggle="tooltip" data-placement="top" data-original-title="Add a new attribute above"></span></span>
                        <span data-toggle="modal" data-target="#stigmod-modal-addattribute"><span class="fa fa-chevron-down" data-toggle="tooltip" data-placement="top" data-original-title="Add a new attribute below"></span></span>
                        <span><span class="fa fa-remove" data-toggle="tooltip" data-placement="top" data-original-title="Delete this attribute"></span></span><span>&nbsp;&nbsp;&nbsp;</span>
                        <span><span class="fa fa-arrow-up" data-toggle="tooltip" data-placement="top" data-original-title="Move up"></span></span>
                        <span><span class="fa fa-arrow-down" data-toggle="tooltip" data-placement="top" data-original-title="Move down"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="collapse0" class="panel-collapse collapse">
                <table class="stigmod-table-relation">
                  <tbody>
                    <tr class="stigmod-clickedit-root stigmod-hovershow-trig stigmod-rel-prop-name" stigmod-clickedit-case="text">
                      <td class="stigmod-rel-cont-left">name</td>
                      <td class="stigmod-rel-cont-middle">
                        <span  class="stigmod-clickedit-disp">date</span>
                        <span class="input-group input-group-xs stigmod-clickedit-edit">
                          <input type="text" class="form-control" value="" placeholder="">
                          <span class="input-group-btn">
                            <button class="btn btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                          </span>
                        </span>
                      </td>
                      <td class="stigmod-rel-cont-right">
                        <div class="stigmod-hovershow-cont">
                          <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="stigmod-clickedit-root stigmod-hovershow-trig stigmod-rel-prop-type" stigmod-clickedit-case="text">
                      <td class="stigmod-rel-cont-left">type</td>
                      <td class="stigmod-rel-cont-middle">
                        <span  class="stigmod-clickedit-disp">Date</span>
                        <span class="input-group input-group-xs stigmod-clickedit-edit">
                          <input type="text" class="form-control" value="" placeholder="">
                          <span class="input-group-btn">
                            <button class="btn btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                          </span>
                        </span>
                      </td>
                      <td class="stigmod-rel-cont-right">
                        <div class="stigmod-hovershow-cont">
                          <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                          <span class="glyphicon glyphicon-trash"></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="stigmod-clickedit-root stigmod-hovershow-trig stigmod-rel-prop-multiplicity" stigmod-clickedit-case="text">
                      <td class="stigmod-rel-cont-left">multiplicity</td>
                      <td class="stigmod-rel-cont-middle">
                        <span  class="stigmod-clickedit-disp"></span>
                        <span class="input-group input-group-xs stigmod-clickedit-edit">
                          <input type="text" class="form-control" value="" placeholder="">
                          <span class="input-group-btn">
                            <button class="btn btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                          </span>
                        </span>
                      </td>
                      <td class="stigmod-rel-cont-right">
                        <div class="stigmod-hovershow-cont">
                          <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                          <span class="glyphicon glyphicon-trash"></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="stigmod-clickedit-root stigmod-hovershow-trig stigmod-rel-prop-visibility" stigmod-clickedit-case="text">
                      <td class="stigmod-rel-cont-left">visibility</td>
                      <td class="stigmod-rel-cont-middle">
                        <span  class="stigmod-clickedit-disp"></span>
                        <span class="input-group input-group-xs stigmod-clickedit-edit">
                          <input type="text" class="form-control" value="" placeholder="">
                          <span class="input-group-btn">
                            <button class="btn btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                          </span>
                        </span>
                      </td>
                      <td class="stigmod-rel-cont-right">
                        <div class="stigmod-hovershow-cont">
                          <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                          <span class="glyphicon glyphicon-trash"></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="stigmod-clickedit-root stigmod-hovershow-trig stigmod-rel-prop-default" stigmod-clickedit-case="text">
                      <td class="stigmod-rel-cont-left">default</td>
                      <td class="stigmod-rel-cont-middle">
                        <span  class="stigmod-clickedit-disp"></span>
                        <span class="input-group input-group-xs stigmod-clickedit-edit">
                          <input type="text" class="form-control" value="" placeholder="">
                          <span class="input-group-btn">
                            <button class="btn btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                          </span>
                        </span>
                      </td>
                      <td class="stigmod-rel-cont-right">
                        <div class="stigmod-hovershow-cont">
                          <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                          <span class="glyphicon glyphicon-trash"></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="stigmod-clickedit-root stigmod-hovershow-trig stigmod-rel-prop-constraint" stigmod-clickedit-case="text">
                      <td class="stigmod-rel-cont-left">constraint</td>
                      <td class="stigmod-rel-cont-middle">
                        <span  class="stigmod-clickedit-disp"></span>
                        <span class="input-group input-group-xs stigmod-clickedit-edit">
                          <input type="text" class="form-control" value="" placeholder="">
                          <span class="input-group-btn">
                            <button class="btn btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                          </span>
                        </span>
                      </td>
                      <td class="stigmod-rel-cont-right">
                        <div class="stigmod-hovershow-cont">
                          <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                          <span class="glyphicon glyphicon-trash"></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="stigmod-clickedit-root stigmod-hovershow-trig stigmod-rel-prop-ordering" stigmod-clickedit-case="radio">
                      <td class="stigmod-rel-cont-left">ordering</td>
                      <td class="stigmod-rel-cont-middle">
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <span class="radio">&nbsp;&nbsp;
                            <label><input type="radio" name="radio-ordering" value="True">True</label>&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="radio-ordering" value="False">False</label>
                          </span>
                          <span class="btn-group">
                            <button class="btn btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                          </span>
                        </span>
                      </td>
                      <td class="stigmod-rel-cont-right">
                        <div class="stigmod-hovershow-cont">
                          <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                          <span class="glyphicon glyphicon-trash"></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="stigmod-clickedit-root stigmod-hovershow-trig stigmod-rel-prop-uniqueness" stigmod-clickedit-case="radio">
                      <td class="stigmod-rel-cont-left">uniqueness</td>
                      <td class="stigmod-rel-cont-middle">
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <span class="radio">&nbsp;&nbsp;
                            <label><input type="radio" name="radio-uniqueness" value="True">True</label>&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="radio-uniqueness" value="False">False</label>
                          </span>
                          <span class="btn-group">
                            <button class="btn btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                          </span>
                        </span>
                      </td>
                      <td class="stigmod-rel-cont-right">
                        <div class="stigmod-hovershow-cont">
                          <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                          <span class="glyphicon glyphicon-trash"></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="stigmod-clickedit-root stigmod-hovershow-trig stigmod-rel-prop-readOnly" stigmod-clickedit-case="radio">
                      <td class="stigmod-rel-cont-left">readOnly</td>
                      <td class="stigmod-rel-cont-middle">
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <span class="radio">&nbsp;&nbsp;
                            <label><input type="radio" name="radio-readOnly" value="True">True</label>&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="radio-readOnly" value="False">False</label>
                          </span>
                          <span class="btn-group">
                            <button class="btn btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                          </span>
                        </span>
                      </td>
                      <td class="stigmod-rel-cont-right">
                        <div class="stigmod-hovershow-cont">
                          <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                          <span class="glyphicon glyphicon-trash"></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="stigmod-clickedit-root stigmod-hovershow-trig stigmod-rel-prop-union" stigmod-clickedit-case="radio">
                      <td class="stigmod-rel-cont-left">union</td>
                      <td class="stigmod-rel-cont-middle">
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <span class="radio">&nbsp;&nbsp;
                            <label><input type="radio" name="radio-union" value="True">True</label>&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="radio-union" value="False">False</label>
                          </span>
                          <span class="btn-group">
                            <button class="btn btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                          </span>
                        </span>
                      </td>
                      <td class="stigmod-rel-cont-right">
                        <div class="stigmod-hovershow-cont">
                          <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                          <span class="glyphicon glyphicon-trash"></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="stigmod-clickedit-root stigmod-hovershow-trig stigmod-rel-prop-subsets" stigmod-clickedit-case="text">
                      <td class="stigmod-rel-cont-left">subsets</td>
                      <td class="stigmod-rel-cont-middle">
                        <span  class="stigmod-clickedit-disp"></span>
                        <span class="input-group input-group-xs stigmod-clickedit-edit">
                          <input type="text" class="form-control" value="" placeholder="">
                          <span class="input-group-btn">
                            <button class="btn btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                          </span>
                        </span>
                      </td>
                      <td class="stigmod-rel-cont-right">
                        <div class="stigmod-hovershow-cont">
                          <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                          <span class="glyphicon glyphicon-trash"></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="stigmod-clickedit-root stigmod-hovershow-trig stigmod-rel-prop-redefines" stigmod-clickedit-case="text">
                      <td class="stigmod-rel-cont-left">redefines</td>
                      <td class="stigmod-rel-cont-middle">
                        <span  class="stigmod-clickedit-disp"></span>
                        <span class="input-group input-group-xs stigmod-clickedit-edit">
                          <input type="text" class="form-control" value="" placeholder="">
                          <span class="input-group-btn">
                            <button class="btn btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                          </span>
                        </span>
                      </td>
                      <td class="stigmod-rel-cont-right">
                        <div class="stigmod-hovershow-cont">
                          <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                          <span class="glyphicon glyphicon-trash"></span>
                        </div>
                      </td>
                    </tr>
                    <tr class="stigmod-clickedit-root stigmod-hovershow-trig stigmod-rel-prop-composite" stigmod-clickedit-case="radio">
                      <td class="stigmod-rel-cont-left">composite</td>
                      <td class="stigmod-rel-cont-middle">
                        <span class="stigmod-clickedit-disp"></span>
                        <span class="stigmod-clickedit-edit">
                          <span class="radio">&nbsp;&nbsp;
                            <label><input type="radio" name="radio-composite" value="True">True</label>&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="radio-composite" value="False">False</label>
                          </span>
                          <span class="btn-group">
                            <button class="btn btn-default stigmod-clickedit-btn-ok" type="button"><span class="glyphicon glyphicon-ok"></span></button>
                            <button class="btn btn-default stigmod-clickedit-btn-cancel" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                          </span>
                        </span>
                      </td>
                      <td class="stigmod-rel-cont-right">
                        <div class="stigmod-hovershow-cont">
                          <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                          <span class="glyphicon glyphicon-trash"></span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading stigmod-hovershow-trig">
                <div class="panel-title">
                  <div class="row">
                    <div class="col-xs-2 stigmod-rel-cont-left-title"><span class="fa fa-bookmark"></span></div>
                    <div class="col-xs-6 stigmod-rel-cont-middle-title stigmod-cursor-pointer" data-toggle="collapse" data-target="#collapse1">Course [1] ----- [*] CourseActivity</div>
                    <div class="col-xs-4 stigmod-rel-cont-right-title">
                      <div class="stigmod-hovershow-cont">
                        <span><span class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="top" data-original-title="Edit this relation"></span></span>
                        <span><span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" data-original-title="Delete this relation"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <table class="table stigmod-table-relation">
                  <tbody>
                    <tr>
                      <td>type</td>
                      <td>composition</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>role</td>
                      <td>whole</td>
                      <td>part</td>
                    </tr>
                    <tr>
                      <td>class</td>
                      <td>Course</td>
                      <td>CourseActivity</td>
                    </tr>
                    <tr>
                      <td>multiplicity</td>
                      <td>1..*</td>
                      <td>*</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading stigmod-hovershow-trig">
                <div class="panel-title">
                  <div class="row">
                    <div class="col-xs-2 stigmod-rel-cont-left-title"><span class="fa fa-bookmark"></span></div>
                    <div class="col-xs-6 stigmod-rel-cont-middle-title stigmod-cursor-pointer" data-toggle="none" data-target="#collapse2">Course [1] ----- [*] CourseActivity</div>
                    <div class="col-xs-4 stigmod-rel-cont-right-title">
                      <div class="stigmod-hovershow-cont">
                        <span><span class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="top" data-original-title="Edit this relation"></span></span>
                        <span><span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" data-original-title="Delete this relation"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <table class="table stigmod-table-relation">
                  <tbody>
                    <tr>
                      <td>type</td>
                      <td>composition</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>role</td>
                      <td>whole</td>
                      <td>part</td>
                    </tr>
                    <tr>
                      <td>class</td>
                      <td>Course</td>
                      <td>CourseActivity</td>
                    </tr>
                    <tr>
                      <td>multiplicity</td>
                      <td>1..*</td>
                      <td>*</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="list-group">
              <div class="list-group-item text-center stigmod-cursor-pointer" data-toggle="modal" data-target="#stigmod-modal-addrelation">
                <a>Add a New Relation</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 右侧推荐栏 -->
    <div class="col-xs-3" id="stigmod-rcmd-righT">
      <!--div class="panel panel-default"-->
        <div class="list-group">
          <div class="list-group-item" id="stigmod-rcmd-right-scroll">
            <div class="row">
              <div class="col-xs-12" id="stigmod-rcmd-rcmd">
                <span class="glyphicon glyphicon-fire"></span>
                <span>RECOMMENDATION</span>
              </div>
            </div>
            <hr class="stigmod-hr-narrow"/>
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title stigmod-rcmd-title">CLASS</div>
              </div>
              <div class="list-group">
                <a class="list-group-item stigmod-cursor-pointer" data-toggle="modal" data-target="#stigmod-modal-addclass-disp">Course</a>
                <a href="#" class="list-group-item">CourseActivity</a>
                <a href="#" class="list-group-item">CourseAvailability</a>
                <a href="#" class="list-group-item">Date</a>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title stigmod-rcmd-title">ATTRIBUTE</div>
              </div>
              <div class="list-group">
                <a href="#" class="list-group-item">date</a>
                <a href="#" class="list-group-item">time</a>
                <a href="#" class="list-group-item">teacher</a>
                <a href="#" class="list-group-item">place</a>
                <a href="#" class="list-group-item">numberStudent</a>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title stigmod-rcmd-title">PROPERTY</div>
              </div>
              <div class="list-group">
                <a href="#" class="list-group-item">name : teacher</a>
                <a href="#" class="list-group-item">type : String</a>
                <a href="#" class="list-group-item">multiplicity : 1</a>
                <a href="#" class="list-group-item">visiblity : true</a>
              </div>
            </div>
          </div>
        </div>
      <!--/div-->T    </div>
  </div>
</div>
