<div id="stigmod-pg-newmodel">
  <div class="row">
    <div class="col-xs-12">
      <h4>Create a new model</h4>
      <hr />
      <p>Search for an existing CCM in <span class="stigmod-websitename">Stigmergic-Modeling</span>, and build your ICM with the help of <span class="stigmod-websitename">Stigmergic-Modeling</span>'s powerful element recommendation function.</p>
      <input class="form-control pull-left" placeholder="Model name" id="stigmod-input"></input>&nbsp;
      <a class="btn btn-success" href="template_search" role="button">Search</a> 
      <hr />
      <p>Or, if there is not one existing CCM that matches the model you want to build, you can </p>
      <a class="btn btn-default" href="template_search" role="button">Create a new CCM</a>
      <br /><br />
    </div>
  </div>
</div>