<div id="stigmod-pg-workspace">
  <!-- 顶部项目名称栏 -->
  <div class="row">
    <div class="col-xs-8">
      <h1 id="stigmod-model-title">
        <span class="fa fa-cube" id="stigmod-model-title-icon"></span>
        <a href="template_user"><span id="stigmod-model-title-username"> <%= user.name %></span></a>
        <span> / </span>
        <span class="dropdown">
          <span class="dropdown-toggle stigmod-a-pseudo" type="button" id="interProjJump" data-toggle="dropdown">
            CourseManagementSystem
          </span>
          <ul class="dropdown-menu" role="menu" aria-labelledby="interProjJump">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CDStore</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">TrainTicketingSystem</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">TimeRelatedConcepts</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ElectiveSys</a></li>
          </ul>
        </span>
      </h1>
    </div>
    <div class="col-xs-4">
      <span class="pull-right" id="stigmod-model-info">
        <a href="template_model" class="stigmod-a-nounderline">
          <span class="glyphicon glyphicon-stats"></span>&nbsp;
          Model Info
        </a>
      </span>
    </div>
  </div>
  <hr />
  <!-- 项目名称栏以下 -->
  <div class="row" id="stigmod-workspace">
    <!-- 左侧导航栏 -->
    <div class="col-xs-3" id="stigmod-nav-left">
      <!--div class="panel panel-default"-->
        <div class="list-group">
          <!-- 搜索栏 -->
          <div class="list-group-item">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="btn-search"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
          </div>
          <!-- 竖排导航栏（分为Class、Relation两个panel） -->
          <div class="list-group-item" id="stigmod-nav-left-scroll">
            <div class="panel panel-default">
              <div class="panel-heading stigmod-hovershow-trig">
                <h3 class="panel-title">
                  <span class="glyphicon glyphicon-th-large stigmod-classname-icon"></span>
                  <span class="stigmod-classname-title">CLASS</span>
                  <span class="stigmod-hovershow-cont" data-toggle="modal" data-target="#stigmod-modal-addclass">
                    <span class="glyphicon glyphicon-plus-sign pull-right" data-toggle="tooltip" data-placement="left" data-original-title="Add a new class">
                    </span>
                  </span>
                </h3>
              </div>
              <div class="list-group">
                <a href="#" class="list-group-item active">Course<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">CourseActivity<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">CourseAvailability<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">Date<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">Course<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">CourseActivity<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">CourseAvailability<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">Date<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">Course<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">CourseActivity<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">CourseAvailability<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">Date<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
              </div>
            </div>
            <!--hr class="stigmod-hr-narrow" /-->
            <div class="panel panel-default">
              <div class="panel-heading stigmod-hovershow-trig">
                <h3 class="panel-title">
                  <span class="glyphicon glyphicon-random stigmod-classname-icon"></span>
                  <span class="stigmod-classname-title">RELATION GROUP</span>
                  <span class="stigmod-hovershow-cont" data-toggle="modal" data-target="#stigmod-modal-addrelationgroup">
                    <span class="glyphicon glyphicon-plus-sign pull-right" data-toggle="tooltip" data-placement="left" data-original-title="Add a new relation group">
                    </span>
                  </span>
                </h3>
              </div>
              <div class="list-group">
                <a href="template_relation" class="list-group-item">Course-CourseActivity<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">Date-SchoolCalender<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">Course-CourseActivity<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">Date-SchoolCalender<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">Course-CourseActivity<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">Date-SchoolCalender<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">Course-CourseActivity<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a href="#" class="list-group-item">Date-SchoolCalender<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
              </div>
            </div>
          </div>
        </div>
      <!--/div-->
    </div>
    <!-- 右侧内容栏 -->
    <div class="col-xs-6">
      <!-- 类、名称 -->
      <div class="list-group">
        <div class="list-group-item" id="stigmod-cont-right-scroll">
          <div class="row stigmod-clickedit-root">
            <div class="col-xs-8" id="stigmod-classname">
              <span class="stigmod-keepinline">
                <span class="glyphicon glyphicon-th-large" id="stigmod-classname-icon"></span>
                <span id="stigmod-classname-title">CLASS</span>
                <span> |&nbsp;</span>
              </span>
              <span class="stigmod-clickedit-text">CourseActivity</span>
            </div>
            <div class="col-xs-4">
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#stigmod-modal-addattribute">
                  <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="left" data-original-title="Add a new attribute"></span>
                </button>
                <button type="button" class="btn btn-default stigmod-clickedit-btn-edit">
                  <span class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="left" data-original-title="Edit class name"></span>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog" data-toggle="tooltip" data-placement="left" data-original-title="Configurations"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#">Delete this class</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <hr class="stigmod-hr-narrow"/>
          <div id="stigmod-cont-right">
            <!-- 属性 -->
            <div class="panel-heading">
              <p id="stigmod-attri-title"><span class="fa fa-book"></span>&nbsp; ATTRIBUTE</p>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading stigmod-hovershow-trig">
                <div class="panel-title">
                  <div class="row">
                    <div class="col-xs-2 stigmod-attri-cont-left-title"><span class="fa fa-bookmark"></span></div>
                    <div class="col-xs-6 stigmod-attri-cont-middle-title stigmod-cursor-pointer" data-toggle="none" data-target="#collapse1">date : Date</div>
                    <div class="col-xs-4 stigmod-attri-cont-right-title">
                      <div class="stigmod-hovershow-cont">
                        <span><span class="glyphicon glyphicon-plus-sign" data-toggle="tooltip" data-placement="top" data-original-title="Add a new property"></span></span><span>&nbsp;&nbsp;&nbsp;</span>
                        <span data-toggle="modal" data-target="#stigmod-modal-addattribute"><span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="top" data-original-title="Add a new attribute before this one"></span></span>
                        <span><span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" data-original-title="Delete this attribute"></span></span><span>&nbsp;&nbsp;&nbsp;</span>
                        <span><span class="glyphicon glyphicon-arrow-up" data-toggle="tooltip" data-placement="top" data-original-title="Move up"></span></span>
                        <span><span class="glyphicon glyphicon-arrow-down" data-toggle="tooltip" data-placement="top" data-original-title="Move down"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <ul class="list-group">
                  <li class="list-group-item stigmod-hovershow-trig">
                    <div class="row stigmod-clickedit-root">
                      <div class="col-xs-2 stigmod-attri-cont-left">name</div>
                      <div class="col-xs-6 stigmod-attri-cont-middle stigmod-clickedit-text">CourseActivity</div>
                      <div class="col-xs-4 stigmod-attri-cont-right">
                        <div class="stigmod-hovershow-cont">
                          <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item stigmod-hovershow-trig">
                    <div class="row stigmod-clickedit-root">
                      <div class="col-xs-2 stigmod-attri-cont-left">type</div>
                      <div class="col-xs-6 stigmod-attri-cont-middle stigmod-clickedit-text">string</div>
                      <div class="col-xs-4 stigmod-attri-cont-right">
                        <div class="stigmod-hovershow-cont">
                          <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                          <span class="glyphicon glyphicon-trash"></span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading stigmod-hovershow-trig">
                <div class="panel-title">
                  <div class="row">
                    <div class="col-xs-2 stigmod-attri-cont-left-title"><span class="fa fa-bookmark"></span></div>
                    <div class="col-xs-6 stigmod-attri-cont-middle-title stigmod-cursor-pointer" data-toggle="none" data-target="#collapse2">time : Time</div>
                    <div class="col-xs-4 stigmod-attri-cont-right-title">
                      <div class="stigmod-hovershow-cont">
                        <span><span class="glyphicon glyphicon-plus-sign" data-toggle="tooltip" data-placement="top" data-original-title="Add a new property"></span></span><span>&nbsp;&nbsp;&nbsp;</span>
                        <span><span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="top" data-original-title="Add a new attribute before this one"></span></span>
                        <span><span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" data-original-title="Delete this attribute"></span></span><span>&nbsp;&nbsp;&nbsp;</span>
                        <span><span class="glyphicon glyphicon-arrow-up" data-toggle="tooltip" data-placement="top" data-original-title="Move up"></span></span>
                        <span><span class="glyphicon glyphicon-arrow-down" data-toggle="tooltip" data-placement="top" data-original-title="Move down"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <ul class="list-group">
                  <li class="list-group-item stigmod-hovershow-trig">
                    <div class="row stigmod-clickedit-root">
                      <div class="col-xs-2 stigmod-attri-cont-left">name</div>
                      <div class="col-xs-6 stigmod-attri-cont-middle stigmod-clickedit-text">CourseActivity</div>
                      <div class="col-xs-4 stigmod-attri-cont-right">
                        <div class="stigmod-hovershow-cont">
                          <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item stigmod-hovershow-trig">
                    <div class="row stigmod-clickedit-root">
                      <div class="col-xs-2 stigmod-attri-cont-left">type</div>
                      <div class="col-xs-6 stigmod-attri-cont-middle stigmod-clickedit-text">string</div>
                      <div class="col-xs-4 stigmod-attri-cont-right">
                        <div class="stigmod-hovershow-cont">
                          <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                          <span class="glyphicon glyphicon-trash"></span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading stigmod-hovershow-trig">
                <div class="panel-title">
                  <div class="row">
                    <div class="col-xs-2 stigmod-attri-cont-left-title"><span class="fa fa-bookmark"></span></div>
                    <div class="col-xs-6 stigmod-attri-cont-middle-title stigmod-cursor-pointer" data-toggle="none" data-target="#collapse3">teacher : String</div>
                    <div class="col-xs-4 stigmod-attri-cont-right-title">
                      <div class="stigmod-hovershow-cont">
                        <span><span class="glyphicon glyphicon-plus-sign" data-toggle="tooltip" data-placement="top" data-original-title="Add a new property"></span></span><span>&nbsp;&nbsp;&nbsp;</span>
                        <span><span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="top" data-original-title="Add a new attribute before this one"></span></span>
                        <span><span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" data-original-title="Delete this attribute"></span></span><span>&nbsp;&nbsp;&nbsp;</span>
                        <span><span class="glyphicon glyphicon-arrow-up" data-toggle="tooltip" data-placement="top" data-original-title="Move up"></span></span>
                        <span><span class="glyphicon glyphicon-arrow-down" data-toggle="tooltip" data-placement="top" data-original-title="Move down"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <ul class="list-group">
                  <li class="list-group-item stigmod-hovershow-trig">
                    <div class="row stigmod-clickedit-root">
                      <div class="col-xs-2 stigmod-attri-cont-left">name</div>
                      <div class="col-xs-6 stigmod-attri-cont-middle stigmod-clickedit-text">CourseActivity</div>
                      <div class="col-xs-4 stigmod-attri-cont-right">
                        <div class="stigmod-hovershow-cont">
                          <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item stigmod-hovershow-trig">
                    <div class="row stigmod-clickedit-root">
                      <div class="col-xs-2 stigmod-attri-cont-left">type</div>
                      <div class="col-xs-6 stigmod-attri-cont-middle stigmod-clickedit-text">string</div>
                      <div class="col-xs-4 stigmod-attri-cont-right">
                        <div class="stigmod-hovershow-cont">
                          <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                          <span class="glyphicon glyphicon-trash"></span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading stigmod-hovershow-trig">
                <div class="panel-title">
                  <div class="row">
                    <div class="col-xs-2 stigmod-attri-cont-left-title"><span class="fa fa-bookmark"></span></div>
                    <div class="col-xs-6 stigmod-attri-cont-middle-title stigmod-cursor-pointer" data-toggle="none" data-target="#collapse4">place : String</div>
                    <div class="col-xs-4 stigmod-attri-cont-right-title">
                      <div class="stigmod-hovershow-cont">
                        <span><span class="glyphicon glyphicon-plus-sign" data-toggle="tooltip" data-placement="top" data-original-title="Add a new property"></span></span><span>&nbsp;&nbsp;&nbsp;</span>
                        <span><span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="top" data-original-title="Add a new attribute before this one"></span></span>
                        <span><span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" data-original-title="Delete this attribute"></span></span><span>&nbsp;&nbsp;&nbsp;</span>
                        <span><span class="glyphicon glyphicon-arrow-up" data-toggle="tooltip" data-placement="top" data-original-title="Move up"></span></span>
                        <span><span class="glyphicon glyphicon-arrow-down" data-toggle="tooltip" data-placement="top" data-original-title="Move down"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="collapse4" class="panel-collapse collapse">
                <ul class="list-group">
                  <li class="list-group-item stigmod-hovershow-trig">
                    <div class="row stigmod-clickedit-root">
                      <div class="col-xs-2 stigmod-attri-cont-left">name</div>
                      <div class="col-xs-6 stigmod-attri-cont-middle stigmod-clickedit-text">CourseActivity</div>
                      <div class="col-xs-4 stigmod-attri-cont-right">
                        <div class="stigmod-hovershow-cont">
                          <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item stigmod-hovershow-trig">
                    <div class="row stigmod-clickedit-root">
                      <div class="col-xs-2 stigmod-attri-cont-left">type</div>
                      <div class="col-xs-6 stigmod-attri-cont-middle stigmod-clickedit-text">string</div>
                      <div class="col-xs-4 stigmod-attri-cont-right">
                        <div class="stigmod-hovershow-cont">
                          <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                          <span class="glyphicon glyphicon-trash"></span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading stigmod-hovershow-trig">
                <div class="panel-title">
                  <div class="row">
                    <div class="col-xs-2 stigmod-attri-cont-left-title"><span class="fa fa-bookmark"></span></div>
                    <div class="col-xs-6 stigmod-attri-cont-middle-title stigmod-cursor-pointer" data-toggle="none" data-target="#collapse5">numberStudent : int</div>
                    <div class="col-xs-4 stigmod-attri-cont-right-title">
                      <div class="stigmod-hovershow-cont">
                        <span><span class="glyphicon glyphicon-plus-sign" data-toggle="tooltip" data-placement="top" data-original-title="Add a new property"></span></span><span>&nbsp;&nbsp;&nbsp;</span>
                        <span><span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="top" data-original-title="Add a new attribute before this one"></span></span>
                        <span><span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" data-original-title="Delete this attribute"></span></span><span>&nbsp;&nbsp;&nbsp;</span>
                        <span><span class="glyphicon glyphicon-arrow-up" data-toggle="tooltip" data-placement="top" data-original-title="Move up"></span></span>
                        <span><span class="glyphicon glyphicon-arrow-down" data-toggle="tooltip" data-placement="top" data-original-title="Move down"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="collapse5" class="panel-collapse collapse">
                <ul class="list-group">
                  <li class="list-group-item stigmod-hovershow-trig">
                    <div class="row stigmod-clickedit-root">
                      <div class="col-xs-2 stigmod-attri-cont-left">name</div>
                      <div class="col-xs-6 stigmod-attri-cont-middle stigmod-clickedit-text">CourseActivity</div>
                      <div class="col-xs-4 stigmod-attri-cont-right">
                        <div class="stigmod-hovershow-cont">
                          <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item stigmod-hovershow-trig">
                    <div class="row stigmod-clickedit-root">
                      <div class="col-xs-2 stigmod-attri-cont-left">type</div>
                      <div class="col-xs-6 stigmod-attri-cont-middle stigmod-clickedit-text">string</div>
                      <div class="col-xs-4 stigmod-attri-cont-right">
                        <div class="stigmod-hovershow-cont">
                          <span class="glyphicon glyphicon-edit stigmod-clickedit-btn-edit"></span>
                          <span class="glyphicon glyphicon-trash"></span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="list-group">
              <div class="list-group-item text-center stigmod-cursor-pointer" data-toggle="modal" data-target="#stigmod-modal-addattribute">
                <a>Add a New Attribute</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 右侧推荐栏 -->
    <div class="col-xs-3" id="stigmod-rcmd-right">
      <!--div class="panel panel-default"-->
        <div class="list-group">
          <div class="list-group-item" id="stigmod-rcmd-right-scroll">
            <div class="row">
              <div class="col-xs-12" id="stigmod-rcmd-rcmd">
                <span class="glyphicon glyphicon-fire"></span>
                <span>RECOMMENDATION</span>
              </div>
            </div>
            <hr class="stigmod-hr-narrow"/>
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title stigmod-rcmd-title">CLASS</div>
              </div>
              <div class="list-group">
                <a class="list-group-item stigmod-cursor-pointer" data-toggle="modal" data-target="#stigmod-modal-addclass-disp">Course</a>
                <a href="#" class="list-group-item">CourseActivity</a>
                <a href="#" class="list-group-item">CourseAvailability</a>
                <a href="#" class="list-group-item">Date</a>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title stigmod-rcmd-title">ATTRIBUTE</div>
              </div>
              <div class="list-group">
                <a href="#" class="list-group-item">date</a>
                <a href="#" class="list-group-item">time</a>
                <a href="#" class="list-group-item">teacher</a>
                <a href="#" class="list-group-item">place</a>
                <a href="#" class="list-group-item">numberStudent</a>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title stigmod-rcmd-title">PROPERTY</div>
              </div>
              <div class="list-group">
                <a href="#" class="list-group-item">name : teacher</a>
                <a href="#" class="list-group-item">type : String</a>
                <a href="#" class="list-group-item">multiplicity : 1</a>
                <a href="#" class="list-group-item">visiblity : true</a>
              </div>
            </div>
          </div>
        </div>
      <!--/div-->
    </div>
  </div>
</div>
