<h4 id="titleProjInfo"><span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;Project Information</h4>
<hr />

<div class="row">
  <!--  -->
  <div class="col-sm-5 coll-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><span class="fa fa-users"></span>&nbsp;&nbsp;Collective Concept Model</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <tbody>
            <tr class="titleTr">
              <td>Project Name</td>
            </tr>
            <tr>
              <td class="contentTr">CourseManagementSystem</td>
            </tr>
            <tr class="titleTr">
              <td>Description</td>
            </tr>
            <tr>
              <td>The course management system helps teachers to post course infomation and helps students to choose the courses.</td>
            </tr>
            <tr class="titleTr">
              <td>Create Time</td>
            </tr>
            <tr>
              <td>2014-08-18</td>
            </tr>
            <tr class="titleTr">
              <td>Updated Time</td>
            </tr>
            <tr>
              <td>2014-11-24</td>
            </tr>
            <tr class="titleTr">
              <td>Version</td>
            </tr>
            <tr>
              <td>3.7.11</td>
            </tr>
            <tr class="titleTr">
              <td>Participated People</td>
            </tr>
            <tr>
              <td>1752</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-7 coll-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><span class="fa fa-user"></span>&nbsp;&nbsp;Individual Concept Model</h3>
      </div>
      <div class="panel-body">
        <h5 class="text-center">You haven't participated this project yet!</h5>
        <hr />
        <div class="text-center">
          <a type="button" class="btn btn-success" href="template">Participate</a>
          <button type="button" class="btn btn-default">Return</button>
        </div>
      </div>
    </div>
  </div>
</div>

