/* 为上部导航条留出空间 */
body {
  padding-top: 70px;
}

/* 垂直居中 */
/*.vertCenter {
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
}
.wrapperVertVenter {
  display: table;
}
.cellVertVenter {
  display: table-cell; 
  vertical-align: middle;
}*/

/* 登出的图标对齐 */
/*.glyphicon-log-out {
  margin-top: 3px;
  margin-bottom: -3px;
}*/

/* 禁用响应式布局，container宽度恒定 */
.container {
  width: 970px !important;
}

/* bootstrap中的form-inline仅对768px以上宽度有效果。禁用响应式布局后，在这里重载form-inline样式使其对所有视口宽度有效 */
.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.form-inline .form-control-static {
  display: inline-block;
}
.form-inline .input-group {
  display: inline-table;
  vertical-align: middle;
}
.form-inline .input-group .input-group-addon,
.form-inline .input-group .input-group-btn,
.form-inline .input-group .form-control {
  width: auto;
}
.form-inline .input-group > .form-control {
  width: 100%;
}
.form-inline .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline .radio,
.form-inline .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline .radio label,
.form-inline .checkbox label {
  padding-left: 0;
}
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}
.form-inline .has-feedback .form-control-feedback {
  top: 0;
}

/* 覆盖blockquote（块引用）的字号，改小一点 */
blockquote {
  font-size: 14px;
  border-left: 0 transparent;
}

/* 工具名称使用Gothic字体 */
.nameWebsite {
  font-family: "Adobe Gothic Std";
}

/* 强制元素显示在同一行的hacking */
.styletoKeepinline {
  display: inline;
  float: left;
}

/* 自定义的水平条（前后margin较窄） */
.hrNarrow{
  margin-top: 10px;
  margin-bottom: 10px;
}

/* 左侧右侧自动框内滚动 */
#navLeftScroll,
#contRightScroll {
  overflow: auto;
}

/* 左侧栏和右侧栏间距缩小 */
#navLeft {
  padding-right: 5px;
}

/* 鼠标悬停显示效果 */
.hoverShowContent {
}
.hoverShowTrigger .hoverShowContent {
  display: none;
}
.hoverShowTrigger:hover .hoverShowContent {
  display: inline;
}

/* 顶部导航栏中文字，为配合浅色方案，文字格式有所更改 */
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: #000;
}
.navbar-default .navbar-nav>li>a {
  font-size: 13px;
  font-weight: 600;
}
.navbar-default .navbar-brand {
  font-weight: 400;
  font-family: "Adobe Gothic Std";
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
  color: #555555;
}

/* 导航条中的输入框 */
#inputNavbar {
  /*background-color: gray;*/
  width: 250px;
  height: 30px;
  margin-top: 3px;
}

/* 右侧内容栏中数据的显示格式 */
#attriTitle {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: -10px;
}
.colMdContentLeft {
	font-size: 14px;
	font-weight: bold;
	text-align: right;
}
.colMdContentMiddle {
	font-size: 14px;
	text-align: left;
}
.colMdContentRight,
.colMdContentRightTitle {
	font-size: 14px;
	text-align: left;
}
.colMdContentLeftTitle { /* Attribute标题*/
  font-size: 12px; /* 小字号是为了使每条attribute图标比attribute标题图标小些 */
  padding-top: 3px; /* 补偿小字号带来的对齐问题 */
  text-align: right;
}
.colMdContentMiddleTitle { /* Attribute标题*/
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}



/* 鼠标悬停变小手 */
.cursorPointer, /* 这个类是一般的，可自行加在需要的地方 */
.hoverShowContent .glyphicon /* 这个是特殊的类，正式完成时要把特殊类都用一般类代替（TODO）*/
{
  cursor: pointer;
}

/* 伪链接类 */
.aPseudo {
  color: #428bca;
  text-decoration: none;
  cursor: pointer;
}
.aPseudo:hover {
  color: #2a6496;
  text-decoration: underline;
}

/* 无下划线连接类 */
.aNoUnderline:hover {
  text-decoration: none;
}

/* 高亮文字背景 */
.highlight {
  background-color: #ffff76;
}

/* 为 list-group-item 中连续的 panel 设置合理的间距 */
#contRight .panel {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* 使panel-heading中的链接在鼠标悬浮时不改变样式 (废弃) */ 
/*.panel-default > .panel-heading > a:hover {
  color: #000;
  text-decoration: none;
}
.panel-primary > .panel-heading > a:hover {
  color: #fff;
  text-decoration: none;
}*/

/* 超窄环境中的输入框：从input-group-sm扩展出input-group-xs，用于修改属性界面，两个负的margin是关键 */
.input-group-xs > .form-control,
.input-group-xs > .input-group-addon,
.input-group-xs > .input-group-btn > .btn {
  height: 30px;
  margin-top: -5px;
  margin-bottom: -5px;
  font-size: 14px;
}

/* 首页 */
#pageIndex {
  padding-top: 30px;
  padding-bottom: 30px;
}
#pageIndex > h1 {
  font-size: 65px;
}
#pageIndex > p {
  font-size: 20px;
  font-weight: 500;
}

/* 注册框、登录框 */
#panelSignUp,
#panelSignIn {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
}

/* 浅灰色文字 */
.fontColorGray {
  color: #bcbcbc;
}

/* 顶部的项目标题 */
#projectTitle {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0;
  margin-top: -5px;
  margin-bottom: -10px;
}
#projectTitleIcon {
  color: #d5d5d5;
  font-size: 22px;
  vertical-align: middle;
  margin-right: 10px;
}
#projectTitleUsername {
  font-weight: 100;
}

/* 主工作空间 */
#workSpace {
  margin-bottom: -10px;
}

/* 右侧内容栏顶部的“类名称”（或“关系名称”） */
#nameClass {
  margin-top: 5px; /* 为了使文字水平居中 */
  font-size: 16px;
  font-weight: 200;
}
#nameClassIcon {
  color: #bcbcbc;
  margin-top: 0px;
}
#nameClassTitle {
  color: #bcbcbc;
  font-weight: 500;
}
.nameClassIcon {
  margin-right: 0px;
  margin-top: 0px;
}
.nameClassTitle {
  font-weight: 500;
}
.glyphicon-random {
  margin-right: 4px; /* 由于Relateion的图标比Class的图标宽，因此在其右侧增加margin以加大其与“Relation”这个文字的间距，与Class一致*/
}

/* ProjectInfo按钮 */
#viewProjectInfo {
  margin-top: -6px;
  margin-bottom: -11px;
}
/*#viewProjectInfoBtn {
  color: #969696;
  border-color: transparent;
}*/


/* --------------------------------------------- *
 *
 * 用户 Project 页面 (PUser)
 *
 * --------------------------------------------- */

/* 用户 Project 页面 :: 用户名 */
#usernamePUser {
  font-size: 24px;
  font-weight: 500;
}

/* 用户 Project 页面 :: 每行细节信息前的图标 */
.infoDetailIconPUser {
  color: #bcbcbc;
  margin-right: 5px;
}

/* 用户 Project 页面 :: 左侧栏文字响应式大小 (TODO: 彻底解决邮件地址、网址过长时的显示问题) */ 
#infoLeftPUser {
  font-size: 13px;
}

/* 用户 Project 页面 :: 搜索栏 */
#searchBarPUser {
  margin-top: 15px;
  margin-bottom: -5px;
}
#searchBarFormPUser {
  width: 60%;
}
#searchBarInputPUser {
  width: 100%;
}
#searchBarNewBtnPUser {
  float: right;
  font-weight: 500;
}
#searchBarFormPSearch { /* 搜索结果页面的搜索栏 */
  width: 92%;
}


#projCatePUser {
  font-weight: 500;
  margin-top: 8px;
  margin-right: 10px;
}
#btnNewProjPUser {
  font-weight: 500;
  font-size: 14px;
}

/* 用户 Project 页面 :: 项目显示 */
.projShowPUser {

}
.projShowTitlePUser {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.projShowInfoPUser {
  color: #787878;
  font-size: 12px;
  text-align: right;
  padding-top: 10px;
}
.projShowDatePUser {
  color: #787878;
  font-size: 12px;
  margin-top: 10px;
}


/* --------------------------------------------- *
 *
 * Project Information 页面 
 *
 * --------------------------------------------- */

.titleProjInfo {
  color: #dddddd;
}
#tableProjInfo {
  margin-top: 10px;
}
.titleTr {
  font-weight: 600;
  font-size: 13px;
}
.contentTr {
  padding: 8px;
  padding-left: 20px;
}


/* --------------------------------------------- *
 *
 * New model 页面 
 *
 * --------------------------------------------- */

#inputBarPNew {
  width: 40%;
}
